/* Resets =================================================================== */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  outline: none;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
}

:root {
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.button {
  cursor: pointer;
  outline: none;
}

/* Base ===================================================================== */

:root {
  background-color: #1f1f1f;

  color: #fff;
  font-family: Alegreya;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

header,
main {
  background-color: #6b43a9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout =================================================================== */

h1 {
  padding-top: 2.4rem;
}

h1,
h2,
nav {
  padding-bottom: 2.4rem;
}

.button {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.download-meta {
  display: inline-block;
  margin-bottom: 2.4rem;
}

/* Header =================================================================== */

h1 {
  font-size: 3.6rem;
}

h2 {
  color: #cbbde1;
  font-size: 2.0rem;
  font-style: oblique;
}

/* Main ===================================================================== */

main {
  padding-bottom: 230px;

  background-image: url('screen.png');
  background-position: bottom -170px center;
  background-repeat: no-repeat;
  background-size: 712px 422px;
}

.button {
  padding: 1.0rem 7.0rem;

  background-color: transparent;
  border: 1px solid #9e84c7;
  border-radius: 4px;

  font-size: 1.6rem;
}

.download-meta {
  color: #cbbde1;
  font-size: 1.4rem;
  font-style: oblique;
}

nav {
  display: flex;
  justify-content: center;

  color: #cbbde1;
  font-size: 1.4rem;
}

    nav span::after {
      content: '·';
      margin: 0 1.0rem;
    }

/* Footer =================================================================== */

footer {
  padding-top: 2.4rem;

  color: #6d6d6d;
  font-size: 1.6rem;
  font-style: oblique;
}

  footer a {
    text-decoration: underline;
  }
